<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="conexion_principal"
			connectionString="Data Source=aquí_tu_servidor_de_bd;Initial Catalog=colores_psf;Integrated Security=True;"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	
</configuration>